<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homeworld</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@bjnstnkvc/alert/src/alert.css">    
    <link rel="stylesheet" href="/css/solar.css">
</head>
<body>    
            
        {{#if loggedIn}}
            <img id="logo" src="/images/titleWh.png" />
            <div id="menu">
                <button id="community">Community</button>
                <a href="/explore"><button id="explore">Explore</button></a>
                <button id="logoutBtn">Logout</button>
            </div>
        {{else}}
            <img id="offlineLogo" src="/images/titleWh.png" />
            {{!-- <section id="offlineMenu">                                 --}}
                {{!-- <a id="menuLogin" href="/login">Login</a> &nbsp;&nbsp;&nbsp;
                
                <a id="menuSignup" href="/register">Register</a> --}}
                </p>
            </section>
        {{/if}}  
    
    <main>

        {{{body}}}

    </main>

    {{#if loggedIn}}
        <script src="/javascript/logout.js"></script>
    {{/if}}

</body>
</html>