<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homeworld</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@bjnstnkvc/alert/src/alert.css">     
    <link rel="stylesheet" href="/css/solar.css">
    
</head>
<body>    
            
            {{#if loggedIn}}
            <img id="logo" src="/images/titleWh.png" />
            <div id="menu">

                <div class="hexagon-menu clear">
                    <div class="hexagon-item">
                        <div class="hex-item">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div class="hex-item">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <a href="/dashboard" class="hex-content">
                            <span class="hex-content-inner">
                                <span class="icon">
                                    <i class="fa fa-universal-access"></i>
                                </span>
                                <span class="title" id"menu01">Dashboard</span>
                            </span>
                            <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                        </a>
                    </div>
                    <div class="hexagon-item">
                        <div class="hex-item">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div class="hex-item">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        
                        <a href="/explore" class="hex-content">
                            <span class="hex-content-inner">
                                <span class="icon">
                                    <i class="fa fa-braille"></i>
                                </span>
                                <span class="title">Explore</label></span>
                            </span>
                            <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                        </a>    
                    </div>
                    <div class="hexagon-item">
                        <div class="hex-item">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div class="hex-item">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <a class="hex-content" onClick="logout()">
                            <span class="hex-content-inner">
                                <span class="icon">
                                    <i class="fa fa-id-badge"></i>
                                </span>
                                <span class="title">Logout</span>
                            </span>
                            <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                        </a>
                    </div>
                    <div class="hexagon-item">
                        <div class="hex-item">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div class="hex-item">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <a href="about" class="hex-content">
                            <span class="hex-content-inner">
                                <span class="icon">
                                    <i class="fa fa-life-ring"></i>
                                </span>
                                <span class="title">About</span>
                            </span>
                            <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                        </a>
                    </div>   
                    </div>                              
            
                </div>
            </div>
        {{else}}
            <img id="offlineLogo" src="/images/titleWh.png" />
            {{!-- <section id="offlineMenu">                                 --}}
                {{!-- <a id="menuLogin" href="/login">Login</a> &nbsp;&nbsp;&nbsp;
                
                <a id="menuSignup" href="/register">Register</a> --}}
                </p>
            </section>
        {{/if}}  
    
    <main>

        {{{body}}}

    </main>

    {{#if loggedIn}}
        <script src="/javascript/logout.js"></script>        
        <script src="/javascript/script.js"></script>
        <script src="/javascript/solar.js"></script>
    {{/if}}

</body>
</html>