<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homeworld</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <img class="bg" src="/images/background.jpg" />

    <img id="logo" src="/images/titleWh.png" />
        
        {{#if loggedIn}}
            <div id="menu">                
                <button id="community">Community</button>
                <button id="explore">Explore</button>
            </div>
        {{else}}
            <section id="offlineMenu">                                
                <a id="menuLogin" href="/login">Login</a> &nbsp;&nbsp;&nbsp;
                
                <a id="menuSignup" href="/signup">Signup</a>
                </p>
            </section>
        {{/if}}  
    
    <main>

        {{{body}}}

    </main>

    {{#if loggedIn}}
        <script src="/javascript/logout.js"></script>
    {{/if}}

</body>
</html>