<div id="about">

<div class="wrapper">

  <div class="item">
    <div class="polaroid"><img src="/images/backend.png">
      <div class="caption">I Miss London</div>
    </div>
  </div>

  <div class="item">
    <div class="polaroid"><img src="/images/frontend.png">
      <div class="caption">Love ballons</div>
    </div>
  </div>      
  </div>

</div>
    
</div>