<img class="bg" src="/public/images/background.jpg" />
 <!-- Menu -->
    <div id="menu">
    <img id="logo" src="./public/images/titleWh.png">
    <button id="community">Community</button>
    <button id="explore">Explore</button>
    <button id="home">Home</button>