<img id="hudLogin" src="/images/hud.png">

    <div id="login">
    
          <h1>Login</h1>
          <p>
          <form id="loginForm">
              <div class="card-text">
              <label for="loginUsername">Username</label>
              <input type="text" id="loginUsername">
              </div>
              <div class="card-text">
            <p>
              <label for="loginPassword">Password</label>&nbsp;
              <input type="password" id="loginPassword">
              </div>
              <button type="submit">Login</button><br>              
          </form>

      </div>

      <script src="/javascript/login.js"></script>
