<img id="hudRegister" src="/images/hud.png">

    <div id="register">
    
          <h1>Register</h1>
          <p>
          <form id="registerForm">
              <div class="card-text">
              <label for="loginUsername">Username</label>
              <input type="text" id="loginUsername">
              </div>
              <div class="card-text">
            <p>
              <label for="loginPassword">Password</label>
              &nbsp;<input type="password" id="loginPassword">
              </div>
              <button type="submit">Register</button><br>              
          </form>

      </div>

      <script src="/javascript/register.js"></script>