<img id="hudSignup" src="/images/hud.png">

    <div id="signup">
    
          <h1>Signup</h1>
          <p>
          <form id="signupForm">
              <div class="card-text">
              <label for="loginUsername">Username</label>
              <input type="text" id="loginUsername">
              </div>
              <div class="card-text">
            <p>
              <label for="loginPassword">Password</label>&nbsp;
              <input type="password" id="loginPassword">
              </div>
              <button type="submit">Register</button><br>
              <a id="loginLink" href="/login">Login</a>
          </form>

      </div>

      <script src="/javascript/signup.js"></script>