* {    
  color: white;
  font-family: 'Roboto', sans-serif;
}

.bg {
  position: absolute;
  width: 3000px;
  height: 2000px;
  opacity: 100%;
  filter: brightness(50%);
  z-index: -50;
  
}

hr, .vl {    
  height: 2px;
  background-color: #ffffff;
  border: none;
  z-index: 3;
}

#menu {
  display: flex;
  position: absolute;
  margin-top: -200px;
  margin-left: 600px;
  justify-content: space-evenly;
  z-index: 1;
}

#logo {
  display: inline-flex;
  height: 25%;
  width: 25%;
  z-index: 3;
}

#offlineLogo {
  display: inline-flex;
  height: 25%;
  width: 25%;
  margin-left: 219px;
  z-index: 3;
} 

.card-text {
  color: white;
  font-size: 24px;
  width: 600px;
}

/* Menus */

#offlineMenu {
  display: inline-flex;
  position: absolute;  
}

#menuLogin {
    display: inline-flex;
    position: absolute;    
    font-size: 28px;
    color: white;    
    margin-top: 60px;
    margin-left: 500px;
    --b: 0.1em;
    --c: #eeff00;
    text-decoration: none;  
    color: white;
    padding-block: var(--b);
    background: 
        linear-gradient(var(--c) 50%,#eeff00 0) 0% calc(100% - var(--_p,0%))/100% 200%,
        linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
    -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
    transition: .25s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
    z-index: 3;
  }
  
  #menuLogin:hover {
    --_p: 100%;
    --_s: .3s;
  }

  #menuSignup {
    display: inline-flex;
    position: absolute;    
    font-size: 28px;
    color: white;    
    margin-top: 60px;
    margin-left: 700px;
    --b: 0.1em;
    --c: #eeff00;
    text-decoration: none;  
    color: white;
    padding-block: var(--b);
    background: 
        linear-gradient(var(--c) 50%,#eeff00 0) 0% calc(100% - var(--_p,0%))/100% 200%,
        linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
    -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
    transition: .25s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
    z-index: 3;
  }
  
  #menuSignup:hover {
    --_p: 100%;
    --_s: .3s;
  }

/* Flashing buttons */

#light1 {  
  position: absolute;
  height: 100px;
  width: 100px;
  margin-top: 550px;
  margin-left: 500px;
  background-color: #1c87c9;
  color: white;    
  border-radius: 80%;
  border: none;    
  cursor: pointer;  
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  z-index: 3;
}

@keyframes glowing1 {
  0% {
    background-color: #00e1ff;
    box-shadow: 0 0 5px #00e1ff;
  }
  50% {
    background-color: #0066ff;
    box-shadow: 0 0 20px #0066ff;
  }
  100% {
    background-color: #00e1ff;
    box-shadow: 0 0 5px #00e1ff;
  }
}
#light1 {
  animation: glowing1 1300ms infinite;    
}

#light1:hover {
  animation-play-state: paused;    
}

#light2 {
  position: absolute;
  height: 100px;
  width: 100px;
  margin-top: 550px;
  margin-left: 700px;
  background-color: #fffda1;
  color: white;    
  border-radius: 80%;
  border: none;    
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  z-index: 3;
}

@keyframes glowing2 {
  0% {
    background-color: #fffb00;
    box-shadow: 0 0 5px #fffb00;
  }
  50% {
    background-color: #fffda1;
    box-shadow: 0 0 20px #fffda1;
  }
  100% {
    background-color: #fffb00;
    box-shadow: 0 0 5px #fffb00;
  }
}

#light2 {    
  animation: glowing2 1300ms infinite;
  animation-delay: 300ms;
}

#light2:hover {
  animation-play-state: paused;
}

#light3 {
  position: absolute;
  height: 100px;
  width: 100px;
  margin-top: 550px;
  margin-left: 900px;
  background-color: #c27f7f;
  color: white;    
  border-radius: 80%;
  border: none;    
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  z-index: 3;
}

@keyframes glowing3 {
  0% {
    background-color: #c27f7f;
    box-shadow: 0 0 5px #c27f7f;
  }

  50% {
    background-color: #ff5656;
    box-shadow: 0 0 20px #ff5656;
  
  }
  100% {
    background-color: #c27f7f;
    box-shadow: 0 0 5px #c27f7f;
  }
}

#light3 {    
  animation: glowing3 1300ms infinite;
  animation-delay: 700ms;
}

#light3:hover {
  animation-play-state: paused;
}

#light4 {
  position: absolute;
  height: 100px;
  width: 100px;
  margin-top: 550px;
  margin-left: 1100px;
  background-color: #1c87c9;
  color: white;    
  border-radius: 80%;
  border: none;    
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  z-index: 3;
}

@keyframes glowing4 {
  0% {
    background-color: #00e1ff;
    box-shadow: 0 0 5px #00e1ff;
  }

  50% {
    background-color: #0066ff;
    box-shadow: 0 0 20px #0066ff;
  
  }
  100% {
    background-color: #00e1ff;
    box-shadow: 0 0 5px #00e1ff;
  }
}

#light4 {    
  animation: glowing4 1300ms infinite;
  animation-delay: 300ms;
}

#light4:hover {
  animation-play-state: paused;
}

/* Dashboard page */

#shipStatus {
  display: inline-flex;
  position: absolute;        
  margin-top: 160px;
  margin-left: 40px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
  padding: 20px;
  opacity: 65%;
}

/* Dashboard > User information */

#hud {
  display: flex;
  position: absolute;
  margin-top: 60px;
  margin-left: 30%;
  z-index: 2;
}

#activeUserInfo {
  display: flex;
  position: absolute;
  width: 100%;
  margin-left: 35%;
  margin-top: 120px;
  z-index: 3;
}

.userPicture {    
  position: inline;
  text-align: center;    
}

.userPicture img {
  height: 200px;    
  border-radius: 50%;    
}

#browse {
  margin-left: 100px;
}

input[type='file'] {
  color: rgba(0, 0, 0, 0)
}

.planetPicture {
  position: inline;
  text-align: center;
}

.planetPicture img {
  height: 200px;
}

#homeworld {
  background-color: black;    
}

#save {
  display: flex;
  position: absolute;    
  height: 60px;
  width: 80px;
  border-width: 0px;    
  align-items: center;
  font-size: 30px;    
  margin-top: 15%;
  margin-left: 81%;
  --b: 0.1em;   /* the thickness of the line */
  --c: #eeff00; /* the color */

  color: white;
  padding-block: var(--b);
  background: 
      linear-gradient(var(--c) 50%,#eeff00 0) 0% calc(100% - var(--_p,0%))/100% 200%,
      linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
        background-clip: text,padding-box;
  transition: .25s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
  z-index: 3;
}

#save:hover {
--_p: 100%;
--_s: .3s;
}

.vl {
  border-left: 6px solid white;
  height: 70px;
  border-width: 1px;
  position: absolute;
  left: 92%;    
  top: 37%;
}

/* Dashboard and Community views > Decorative status bars  */

/* Bar Graph Horizontal */
.bar-graph .status {
  -webkit-animation: fade-in-text 4.2s 0.1s forwards;
  -moz-animation: fade-in-text 4.2s 0.1s forwards;
  animation: fade-in-text 1.2s 0.1s forwards;    
}

.bar-graph-horizontal {
  max-width: 380px;
}

.bar-graph-horizontal > div {
  float: left;
  margin-bottom: 8px;
  width: 100%;
}

.bar-graph-horizontal .status {
  float: left;
  margin-top: 18px;
  width: 100px;
}

.bar-graph-horizontal .bar {
  border-radius: 3px;
  height: 35px;
  float: left;
  overflow: hidden;
  position: relative;
  width: 0;
}

.bar-graph-one .bar::after {
  -webkit-animation: fade-in-text 2.2s 0.1s forwards;
  -moz-animation: fade-in-text 2.2s 0.1s forwards;
  animation: fade-in-text 2.2s 0.1s forwards;
  color: #fff;
  content: attr(data-percentage);
  font-weight: 700;
  position: absolute;
  right: 5px;
  top: 8px;
}

.bar-graph-one .bar-one .bar {
  background-color: #5eff00a8;
  -webkit-animation: show-bar-one 8.2s 0.1s forwards;
  -moz-animation: show-bar-one 8.2s 0.1s forwards;
  animation: show-bar-one 2.2s 0.1s forwards;
  margin-top: 10px;
  margin-left: 40px;
}

.bar-graph-one .bar-two .bar {
  background-color: #5eff00a8;
  -webkit-animation: show-bar-two 8.2s 0.2s forwards;
  -moz-animation: show-bar-two 8.2s 0.2s forwards;
  animation: show-bar-two 2.2s 0.2s forwards;
  margin-top: 10px;
  margin-left: 40px;    
}

.bar-graph-one .bar-three .bar {
  background-color: #5eff00a8;
  -webkit-animation: show-bar-three 8.2s 0.3s forwards;
  -moz-animation: show-bar-three 8.2s 0.3s forwards;
  animation: show-bar-three 2.2s 0.3s forwards;
  margin-top: 10px;
  margin-left: 40px;    
}

.bar-graph-one .bar-four .bar {
  background-color: #5eff00a8;
  -webkit-animation: show-bar-four 8.2s 0.4s forwards;
  -moz-animation: show-bar-four 8.2s 0.4s forwards;
  animation: show-bar-four 2.2s 0.4s forwards;
  margin-top: 10px;
  margin-left: 40px;
}

/* Bar Graph Horizontal Animations */
@keyframes show-bar-one {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

@keyframes show-bar-two {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

@keyframes show-bar-three {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

@keyframes show-bar-four {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

@keyframes fade-in-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Login page */

/* #hudLogin {
  display: flex;
  position: absolute;  
  margin-top: 160px;
  margin-left: 20%;
  z-index: 2;
}

#login {
  position: absolute;
  margin-top: 250px;
  margin-left: 515px;    
  z-index: 3;   
}

#login input {
  color: black;
}

#login h1 {
  margin-top: -110px;
  margin-left: 180px;
  padding-bottom: 110px;  
}

#login input {
  color: black;
  width: 300px;
}

#loginForm button {
  position: absolute;
  color: black;
  font-size: 18px;    
  margin-top: -80px;
  margin-left: 450px;
  border-width: 0px;
  height: 30px;
  width: 100px;
  align-items: center;    
  border-style: ridge;
  background-color: rgb(255, 255, 255);
  transition-duration: 0.4s;   
}

#loginForm button:hover {
  background-color: rgb(4, 0, 255);
  color: white;
} */

/* Signup page */

/* #hudRegister {
  display: flex;
  position: absolute;
  margin-top: 160px;
  margin-left: 20%;
  z-index: 2;
}

#register {  
  position: absolute;
  margin-top: 250px;
  margin-left: 515px;    
  z-index: 3;    
}

#register h1 {
  margin-top: -110px;
  margin-left: 160px;
  padding-bottom: 110px;
  
}

#register input {
  color: black;
  width: 300px;
}

#signup input {
  color: black;
}


#registerForm button {
  position: absolute;
  color: black;
  font-size: 18px;    
  margin-top: -80px;
  margin-left: 450px;
  border-width: 0px;    
  height: 30px;
  width: 100px;
  align-items: center;
  border-style: ridge;
  background-color: rgb(255, 255, 255);
  transition-duration: 0.4s;   
}

#registerForm button:hover {
  background-color: rgb(4, 0, 255);
  color: white;
} */

/* Planet page */

#planetRow {
  display: flex;
  position: absolute;
  margin-top: 20px;
  width: 100%;
  justify-content: center;
  z-index: -1;    
}

#planet {
  position: absolute;
  margin-top: -50px;    
  height: 500px;
}

#hudPlanet {
  display: flex;
  position: absolute;
  margin-top: 300px;
  margin-left: 23%;
  z-index: 2;
}

#hudPlanetSideA {
  display: flex;
  position: absolute;
  margin-top: 300px;
  margin-left: 30px;
  z-index: 2;
}

#hudPlanetSideB {
  display: flex;
  position: absolute;
  margin-top: 300px;
  margin-left: 79%;
  z-index: 2;
}

#planetFacts {
  position: absolute;
  height: 350px;
  width: 200px;    
  margin-top: 300px;
  margin-left: 80px;
  text-align: center;
}  

#planetComments {
  position: absolute;
  height: 350px;
  width: 725px;    
  margin-top: 300px;
  margin-left: 425px;
  text-align: center;
}

#planetResidents {
  position: absolute;
  height: 350px;
  width: 200px;    
  margin-top: 300px;
  margin-left: 1300px;
  text-align: center;
}

/* Media queries */

@media only screen and (max-width: 3608px) {  
  #community {
    margin-top: -160px;    
    margin-left: 200px;
  }
  #explore {    
      margin-top: -160px;      
  }  
}
@media only screen and (max-width: 3000px) {  
  #community {
    margin-top: -160px;    
    margin-left: 200px;
  }
  #explore {    
      margin-top: -160px;      
  }  
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

/* Login page */

#formView {
	min-height: 100vh;	
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Helvetica, Arial, sans-serif;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: none;
}

.formPad {
	background-color: #222;
	border-radius: 15px;
	height: 550px;
	width: 350px;
	position: relative;
	overflow: hidden;
	
	&::after {
		content: '';
		opacity: .8;
		position: absolute;
		top: 0;right:0;bottom:0;left:0;
		background-repeat: no-repeat;
		background-position: left bottom;
		background-size: 500px;
		background-color: lightskyblue;
	}
	
	.login {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		width: 65%;
		z-index: 5;
		-webkit-transition: all .3s ease;
				
		&.slide-up {
			top: 5%;
			-webkit-transform: translate(-50%, 0%);
			-webkit-transition: all .3s ease;
		}
		
		&.slide-up .formPanel,
		&.slide-up .submit-btn {
			opacity: 0;
			visibility: hidden;
		}
		
		&.slide-up .formlabel {
			font-size: 1em;
			cursor: pointer;
		}
		
		/* &.slide-up .formlabel span {
			margin-right: 5px;
			opacity: 1;
			visibility: visible;
			-webkit-transition: all .3s ease;
		} */
		
		.formlabel {
			color: #fff;
			font-size: 1.7em;
			text-align: center;
			
			span {
				color: rgba(0,0,0,0.4);
				opacity: 0;
				visibility: visible;
				-webkit-transition: all .3s ease;
			}
		}
		
		.formPanel {
			border-radius: 15px;
			background-color: #fff;
			overflow: hidden;
			margin-top: 50px;
			opacity: 1;
			visibility: visible;
			-webkit-transition: all .3s ease;
			
			.input {
				border: 0;
				outline: none;
				box-shadow: none;
				display: block;
				height: 30px;
				line-height: 0px;
				padding: 8px 15px;
				border-bottom: 1px solid #eee;
				width: 100%;
				font-size: 12px;
        color: black;
				
				&:last-child {
					border-bottom: 0;
				}
				&::-webkit-input-placeholder {
					color: rgba(0,0,0,0.4);
				}
			}
		}
		
		.submit-btn {
			background-color: rgba(0,0,0,0.4);
			color: rgba(256,256,256,0.7);
			border:0;
			border-radius: 15px;
			display: block;
			margin: 15px auto; 
			padding: 15px 45px;
			width: 100%;
			font-size: 13px;
			font-weight: bold;
			cursor: pointer;
			opacity: 1;
			visibility: visible;
			-webkit-transition: all .3s ease;
			
			&:hover {
				transition: all .3s ease;
				background-color: rgba(0,0,0,0.8);
			}
		}
	}
	
	.signup {
		position: absolute;
		top: 20%;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #fff;
		z-index: 5;
		-webkit-transition: all .3s ease;
		
		&::before {
			content: '';
			position: absolute;
			left: 50%;
			top: -20px;
			-webkit-transform: translate(-50%, 0);
			background-color: #fff;
			width: 200%;
			height: 250px;
			border-radius: 50%;
			z-index: 4;
			-webkit-transition: all .3s ease;
		}
		
		.center {
			position: absolute;
			top: calc(50% - 10%);
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			width: 65%;
			z-index: 5;
			-webkit-transition: all .3s ease;
			
			.formlabel {
				color: #000;
				font-size: 1.7em;
				text-align: center;

				/* span {
					color: rgba(0,0,0,0.4);
					opacity: 0;
			    visibility: hidden;
				  -webkit-transition: all .3s ease;
				} */
			}

			.formPanel {
				border-radius: 15px;
				background-color: #fff;
				border: 1px solid #eee;
				overflow: hidden;
				margin-top: 50px;
				opacity: 1;
				visibility: visible;
				-webkit-transition: all .3s ease;

				.input {
					border: 0;
					outline: none;
					box-shadow: none;
					display: block;
					height: 30px;
					line-height: 30px;
					padding: 8px 15px;
					border-bottom: 1px solid #eee;
					width: 100%;
					font-size: 12px;
          color: black;

					&:last-child {
						border-bottom: 0;
					}
					&::-webkit-input-placeholder {
						color: rgba(0,0,0,0.4);
					}
				}
			}

			.submit-btn {
				background-color: #6B92A4;
				color: rgba(256,256,256,0.7);
				border:0;
				border-radius: 15px;
				display: block;
				margin: 15px auto; 
				padding: 15px 45px;
				width: 100%;
				font-size: 13px;
				font-weight: bold;
				cursor: pointer;
				opacity: 1;
				visibility: visible;
				-webkit-transition: all .3s ease;

				&:hover {
					transition: all .3s ease;
					background-color: rgba(0,0,0,0.8);
				}
			}
		}
		
		&.slide-up {
			top: 90%;
			-webkit-transition: all .3s ease;
		}
		
		&.slide-up .center {
			top: 10%;
			-webkit-transform: translate(-50%, 0%);
			-webkit-transition: all .3s ease;
		}
		
		&.slide-up .formPanel,
		&.slide-up .submit-btn {
			opacity: 0;
			visibility: hidden;
			-webkit-transition: all .3s ease;
		}
		
		&.slide-up .formlabel {
			font-size: 1em;
			margin: 0;
			padding: 0;
			cursor: pointer;
			-webkit-transition: all .3s ease;
		}
		
		/* &.slide-up .formlabel span {
			margin-right: 5px;
			opacity: 1;
			visibility: visible;
			-webkit-transition: all .3s ease;
		} */
	}
}
  
/* Menu for log out and about */

.hexagon-item {
  cursor: pointer;
  width: 200px;
  height: 173.20508px;
  float: left;
  margin-left: -29px;
  z-index: 0;
  position: relative;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg); }
  .hexagon-item:first-child {
    margin-left: 0; }
  .hexagon-item:hover {
    z-index: 1; }
    .hexagon-item:hover .hex-item:last-child {
      opacity: 1;
      -webkit-transform: scale(1.3);
      -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
      -o-transform: scale(1.3);
      transform: scale(1.3); }
    .hexagon-item:hover .hex-item:first-child {
      opacity: 1;
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2); }
      .hexagon-item:hover .hex-item:first-child div:before,
      .hexagon-item:hover .hex-item:first-child div:after {
        height: 5px; }
    .hexagon-item:hover .hex-item div::before,
    .hexagon-item:hover .hex-item div::after {
      background-color: #ff0037; }
    .hexagon-item:hover .hex-content svg {
      -webkit-transform: scale(0.97);
      -moz-transform: scale(0.97);
      -ms-transform: scale(0.97);
      -o-transform: scale(0.97);
      transform: scale(0.97); }

.hex-item {
  position: absolute;
  top: 0;
  left: 50px;
  width: 100px;
  height: 173.20508px; }
  .hex-item:first-child {
    z-index: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
  .hex-item:last-child {
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 1; }
  .hex-item div {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 100px;
    height: 173.20508px;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center; }
    .hex-item div::before, .hex-item div::after {
      background-color: #1e2530;
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
      -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
      -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
      transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }
    .hex-item div:before {
      top: 0; }
    .hex-item div:after {
      bottom: 0; }
    .hex-item div:nth-child(1) {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg); }
    .hex-item div:nth-child(2) {
      -webkit-transform: rotate(60deg);
      -moz-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
      -o-transform: rotate(60deg);
      transform: rotate(60deg); }
    .hex-item div:nth-child(3) {
      -webkit-transform: rotate(120deg);
      -moz-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
      -o-transform: rotate(120deg);
      transform: rotate(120deg); }

.hex-content {  
  color: #fff;
  display: flex;
  height: 180px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  transform: rotate(-30deg);
  width: 156px; }
  .hex-content .hex-content-inner {
    left: 50%;    
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .hex-content .icon {
    display: block;
    font-size: 36px;
    line-height: 30px;
    margin-bottom: 11px; }
  .hex-content .title {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase; }
  .hex-content svg {
    left: -7px;
    position: absolute;
    top: -13px;
    transform: scale(0.87);
    z-index: -1;
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }
  .hex-content:hover {
    color: #fff; 
  }
  
